@import '../../../../mixin.scss';

:host {
  grid-area: dynamic-board;
  width: 100%;
  min-height: 75vh;
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  :host {
    min-height: auto;
    border-left: none;
  }
}
