<h2>PRODUCTS</h2> <br>

<section>
  <h3>DRINKS</h3>
  <ul>
    <ng-container *ngFor="let p of products">
      <li *ngIf="p.category === 'drinks'" [class.selected]="p === selectedProduct" (click)="onSelect(p)">
        <img src={{p.img}} />
        <h4>{{p.name}}</h4>
        <p>${{p.price}}</p>
      </li>
    </ng-container>
  </ul>
</section>

<section>
  <h3>BURGERS & SANDWICHES</h3>
  <ul>
    <ng-container *ngFor="let p of products">
      <li *ngIf="p.category === 'burgers and sandwiches'" [class.selected]="p === selectedProduct" (click)="onSelect(p)">
        <img src={{p.img}} />
        <h4>{{p.name}}</h4>
        <p>${{p.price}}</p>
      </li>
    </ng-container>
  </ul>
</section>

<section>
  <h3>SIDE</h3>
  <ul>
    <ng-container *ngFor="let p of products">
      <li *ngIf="p.category === 'side'" [class.selected]="p === selectedProduct" (click)="onSelect(p)">
        <img src={{p.img}} />
        <h4>{{p.name}}</h4>
        <p>${{p.price}}</p>
      </li>
    </ng-container>
  </ul>
</section>
