<h2>PRODUCTS</h2>

<ng-container *ngIf="convertedProducts.length !== 0 then convertedProductsView else totalProducts">
</ng-container>

<ng-template #convertedProductsView>
  <app-products-category *ngIf="convertedProducts.length > 0 && convertedProducts.length < 12
  && convertedProducts !== -1 else notFound"
  [productsByCategory]="convertedProducts" (selectedProductEmitter)="onSelect($event)">
  </app-products-category>
</ng-template>

<ng-template #totalProducts>
  <section>
    <h3>DRINKS</h3>
    <app-products-category [productsByCategory]="drinks" (selectedProductEmitter)="onSelect($event)">
    </app-products-category>
  </section>
  <section>
    <h3>FOODS</h3>
    <app-products-category [productsByCategory]="foods" (selectedProductEmitter)="onSelect($event)">
    </app-products-category>
  </section>
</ng-template>

<ng-template #notFound>
  <p>Product not found!</p>
</ng-template>
