@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import '../../../mixin.scss';

:host {
  width: 100%;
  color: #3a3336;
}

header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 2rem;
  background-color: #FED049;

  h1 {
    font: normal 600 55px/88px 'Shadows Into Light', cursive;
    letter-spacing: 0em;
    color: #3a3336;
  }

  img {
    width: 100px;
    height: 100px;
  }

  form {
    @include containers(0.1rem 0.5rem, 0.5rem);
    margin: auto;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    background-color: #282846;


      input {
        width: 12rem;
        height: 2.4rem;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0.5rem;
        text-align: center;
        color: #fff;
        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }
      }

      fa-icon{
        color: #fff;
        font-size: 1.2rem;
      }
  }

  div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    h3 {
      font: normal normal 18px/20px Spartan;
      letter-spacing: 0.3em;
    }

    img {
      width: 60px;
      height: 60px;
      margin-left: 10px;
    }

    fa-icon {
      margin-left: 0.6rem;
      cursor: pointer;
      font-size: 1.4rem;
      align-self: flex-start;
    }
  }
}


@media only screen and (max-width: 600px) {

  header {
    padding: 0 1rem;

    form {
      font-size: 0.9rem;
      width: 40%;
      input {
        width: 75%;
        height: 1.5rem;
        font-size: 0.9rem;
      }
    }

    div {
      img {
        margin-left: 0;
      }
    }
  }



}
