<header>
  <a *ngIf="!mobile" [routerLink]="['']" [routerLinkActive]="['is-active']"><h1>Shay&Mar</h1></a>
  <a *ngIf="mobile" [routerLink]="['']" [routerLinkActive]="['is-active']"><h1>SM</h1></a>
<form *ngIf="router.url === '/waiter'">
  <fa-icon [icon]="searchIcon"></fa-icon>
  <input type="search" placeholder="Search" #search [(ngModel)]="searchInput" autocomplete="off" (keyup)="onKey($event)" [ngModelOptions]="{standalone: true}">
  <fa-icon [icon]="cancelIcon" *ngIf="search.value !== ''" (click)="clearInput()"></fa-icon>
</form>
<div *ngIf="router.url === '/waiter'">
    <h2 *ngIf="!mobile">Waiter</h2>
    <img src="../../../assets/waiter-avatar.png" alt="waiter-photo">
    <fa-icon [icon]="notificationIcon" (click)="alertOrderDone($event)"></fa-icon>
</div>
<div *ngIf="router.url === '/chef'">
  <h2 *ngIf="!mobile">Chef</h2>
  <img src="../../../assets/chef-avatar.svg" alt="chef-photo">
  <fa-icon [icon]="notificationIcon"></fa-icon>
</div>
</header>
