<header>
  <a  [routerLink]="['']" [routerLinkActive]="['is-active']"><img src="../../../assets/burger-queen-logo.png" alt="burger-queen-logo"></a>
  <h1 *ngIf="!mobile" [routerLink]="['']" [routerLinkActive]="['is-active']">Burger Queen</h1>
<div *ngIf="router.url === '/waitress'">
    <h2 *ngIf="!mobile">Waitress</h2>
    <img src="../../../assets/waitress-icon-2.png" alt="waitress-photo">
    <fa-icon [icon]="notificationIcon" (click)="alertOrderDone($event)"></fa-icon>
</div>
<div *ngIf="router.url === '/chef'">
  <h2 *ngIf="!mobile">Chef</h2>
  <img src="../../../assets/chef-avatar.svg" alt="chef-photo">
  <fa-icon [icon]="notificationIcon"></fa-icon>
</div>
</header>
