@mixin containers ($padding, $border-radius) {
  border: 1.5px solid #4D4D4D;
  padding: $padding;
  border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
}

@mixin title-components {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.82em;
  text-align: center;
}

@mixin inputs ($width) {
  width: $width;
  height: 35px;
  font: normal normal 1.2rem/15px Spartan;
}
