<h2>ORDER</h2>

<form [formGroup]="orderForm" (ngSubmit)="sendOrder()">
  <div>
    <label >
      CLIENT:
      <input type="text" formControlName="clientName" required>
    </label>
    <label>
      TABLE:
      <input type="number" formControlName="tableNumber" min="1" step="1" required>
    </label>
  </div>

  <ng-container *ngIf="order.length !== 0; else noOrderList">
    <table>
      <colgroup>
        <col width="*">
        <col width="35%">
        <col width="30%">
        <col width="5%">
      </colgroup>
      <thead>
        <tr>
          <th scope="col">ITEM</th>
          <th scope="col">UNITS</th>
          <th scope="col">PRICE</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of order">
          <td>{{item.productName}}</td>
          <td>
            <fa-icon [icon]="minusIcon" (click) = "removeUnit(item.productId)"></fa-icon>
            {{item.units}}
            <fa-icon [icon]="plusIcon" (click) = "addUnit(item.productId)"></fa-icon>
          </td>
          <td>{{item.subTotalPrice | currency }}</td>
          <td><fa-icon [icon]="trashIcon" (click) = "deleteItem(item.productId)"></fa-icon></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>TOTAL</td>
          <td></td>
          <td>{{getTotal() | currency }}</td>
        </tr>
      </tfoot>
    </table>
    <button type="submit">SEND</button>
  </ng-container>
</form>

<ng-template #noOrderList>
  <p>No order yet!</p>
</ng-template>
