<h2>ORDER</h2><br>

<form [formGroup]="orderForm" (ngSubmit)="sendOrder()">
  <div class="input-container">
    <label>CLIENT: <input type="text" formControlName="clientName" required></label>
    <label>TABLE: <input type="number" formControlName="tableNumber" min="1" step="1" required></label>
  </div>

  <ng-container *ngIf="order.length !== 0; else noOrderList">
    <table>
      <thead>
        <tr>
          <th>N°</th>
          <th>ITEM</th>
          <th>UNITS</th>
          <th>PRICE</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr app-order-item *ngFor="let item of order" [selectedItem]="item" (deleteItemEmitter)="deleteItem($event)">
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>TOTAL</td>
          <td></td>
          <td>{{getTotal() | currency }}</td>
        </tr>
      </tfoot>
    </table>
    <button type="submit">SEND</button>
  </ng-container>
</form>

<ng-template #noOrderList>
  <p>No order yet!</p>
</ng-template>
