:host {
  width: 100%;
  height: 100%;
}

.background-home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: url('../../../assets/burger-bg-home.png') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.button-home {
  font-family: 'Spartan', sans-serif;;
  width: 180px;
  color: #fff;
  margin: 1.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  text-align: center;
}

.waiter {
  background-color: #007580ef;
}

.chef {
  background-color: #282846ee;
}
