
td {
  vertical-align: top;
  line-height: 1.5rem;
  &:nth-child(1)  { width: 2rem; }
  &:nth-child(2)  { width: 13rem; }
  &:nth-child(3)  { width: 14rem; }
  &:nth-child(4)  { width: 5rem; }
  &:nth-child(5)  { width: 2rem; }
}

fa-icon {
  font-size: 1.4rem;
  margin: 0.2rem;
}

@media only screen and (min-width: 1024px) {
  td {
    &:nth-child(1)  { width: 2rem; }
    &:nth-child(2)  { width: 14rem; }
    &:nth-child(3)  { width: 9rem; }
    &:nth-child(4)  { width: 5rem; }
    &:nth-child(5)  { width: 2rem; }
  }

}
