@import '../../../../mixin.scss';

:host {
  @include containers(1rem 0px, 0px);
  grid-area: side-bar;
  width: 100%;
  text-align: center;
  background-color: #241e20;
}

.selected {
  color: #ffdd1c;
  border: 1.5px solid rgba(77, 77, 77, 0.49);
  border-left: 4px solid #ffdd1c;
}

ul {
  font-size: 1.4rem;
  width: 100%;

  li {
    padding: 1rem 0.3rem;
    cursor: pointer;
    p{
      font-size: 1rem;
    }
  }

  li:hover {
    border: 1.5px solid rgba(77, 77, 77, 0.49);
    border-left: 4px solid #ffdd1c;
  }
}


@media only screen and (max-width: 600px) {
  :host {
    display: flex;
    padding: 0rem 0.5rem;
  }

  ul {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;

     li {
       width: 100%;
       height: 100%;
       padding: 0.5rem 0rem;
       display: flex;
       align-items: center;
       justify-content: center;
     }
  }


}
