:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
  'side-bar dynamic-board order';
  grid-template-columns: 2.7rem 40% 1fr;
  grid-template-rows: 100%;
}

@media only screen and (min-width: 1024px) {
  :host {
    grid-template-columns: 2.7rem 47% 1fr;
}}

@media only screen and (min-width: 1440px) {
  :host {
    grid-template-columns: 2.7rem 50% 1fr;
}}

@media only screen and (max-width: 600px) {
  :host {
    display: grid;
    grid-template-areas:
    'side-bar'
    'dynamic-board'
    'order';
    grid-template-rows: 2.7rem 0.5fr 1fr;
    grid-template-columns: 100%;
}}

