:host {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-areas:
  'side-bar dynamic-board order';
  grid-template-columns: auto 45% 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
}
