@import '../../../../mixin.scss';

:host {
 // @include containers(1rem 0.6rem 0.6rem 0.6rem, 13px);
  grid-area: order;
  width: 100%;
  padding: 1rem;
  border-left: 0.5px solid #fecdcb;
}

h2 {
  @include title-components;
  margin-top: 0.5rem;
}

.isClicked {
  border: 0.5px solid #fecdcb !important;
  color: #fecdcb !important;
  outline: none;
}

.noClicked {
  border: 0.5px solid gray;
  outline: none;
}



form {
  width: 100%;
  text-align: center;
  .input-container {
    width: 90%;
    display: grid;
    grid-template-areas:
    'waiter waiter order-number'
    'client client table-number';
    gap: 0.5rem;
    margin: 1.5rem auto;
    // text-align: start;
    font-size: 0.9rem;
    label {
      &:nth-child(1) { grid-area: waiter; }
      &:nth-child(2) { grid-area: order-number; }
      &:nth-child(3) { grid-area: client; }
      &:nth-child(4) { grid-area: table-number; }
      p {
        margin: 0.3rem 0rem 0rem 0rem;
        color: rgb(253, 100, 100);
      }
    }
    input {
      @include containers(0.5rem, 0.5rem);
      @include inputs(4rem, none);
      font-size: 0.8rem;
      &[type=text] { width: 12rem; color: #30262E; font-weight: 700;}
      &[type=number] { -moz-appearance: textfield;  color: #30262E; font-weight: 700; }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

  }
  textarea {
    resize: none;
    border: none;
    color: #30262E;
    font-weight: 700;
    width: 60%;
    margin-top: 1rem;
    background-color: #fff;
    font-size: 0.9rem;
    @include containers(0.7rem, 0.5rem);
  }

  textarea::placeholder{
    color: #30262E;
  }

  button {
    @include containers(0.7rem, 0.5rem);
    width: 30%;
    background-color: #D7C1A4;
    color: #333;
    font-weight: 700;
    margin: 1rem auto;
    &:hover {
      border: 0.5px solid #fecdcb;
    }

  }


}

.items-container {
  border-radius: 1.5rem;
  font-size: 0.9rem;
  padding: 1rem;
  margin: auto;
  width: 90%;
  display: grid;
  gap: 0.7rem;
  grid-template-areas: 'header'
  'body'
  'footer';
  justify-content: center;


  .columns {
    display: grid;
    width: 100%;
    grid-template-columns: 1.7rem 2.7fr 2.5fr 1.2fr 1.7rem ;
  }

  .header { grid-area: header; border-bottom: 1px solid #fecdcb; }
  .body {
    grid-area: body;
    height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0.2rem;
      height: 1rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background-color: #fecdcb;
    }
  }
  .footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid #fecdcb; }

  ul li {
    padding: 0.5rem;
  }

  }


p {
  margin: 2rem;
}


@media only screen and (max-width: 768px) {
  :host {
    border-top: 0.5px solid #fecdcb;
    border-left: none;
  }
}

@media only screen and (max-width: 600px) {
  :host {
    border-top: 0.5px solid #fecdcb;
    border-left: none;
  }

  .items-container {
    width: 100%;
    padding: 0.8rem;
  }

  form {
    .input-container {
      width: 100%;
      input {
        &[type=text] { width: 6rem; }
        &[type=number] { width: 3rem; }
      }
    }
  }

}
