@import '../../../../../mixin.scss';

:host {
  @include containers(10px, 13px);
  grid-area: order-list;
  height: 100px;
}

div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
