@mixin containers ($padding, $border-radius) {
  // border: 1.5px solid white;
  padding: $padding;
  border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
}

@mixin title-components {
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 0.82em;
  text-align: center;
}

@mixin inputs ($width, $border) {
  width: $width;
  height: 2rem;
  font: normal normal 1.2rem/15px Spartan;
  border: $border;
  background-color: whitesmoke;
}
