@import '../../../../mixin.scss';

:host {
  width: fit-content;
}

.order-container {
  @include containers(10px, 13px);
  width: 300px;
  height: 400px;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #D7C1A4;
  display: grid;
  grid-template-areas:
  'order order'
  'table time-received'
  'client client'
  'chef-time chef-time'
  'items items'
  'details details'
  'preparation-time preparation-time'
  'waiter-time waiter-time'
  'date-received date-received';
  justify-content: center;



  .order {
    grid-area: order;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
  .time-received {
    grid-area: time-received;
    font-weight: bold;
    text-align: center;
  }
  .table { grid-area: table;  text-align: center; }
  .client { grid-area: client; }
  .chef-time { grid-area: chef-time; }
  .items { grid-area: items; }
  .details {
    grid-area: details;
 }
  .preparation-time {
    grid-area: preparation-time;
    display: grid;
    grid-template-areas:
    'start counter clear'
    'ready ready ready';
    align-items: center;
    justify-items: center;

    .start { grid-area: start; }
    .counter { grid-area: counter; }
    .clear { grid-area: clear; }
    .ready {
      grid-area: ready;
    border-radius: 8px; }
   }
  .waiter-time { grid-area: waiter-time;
    display: grid;
  justify-content: center;

  .delivered {
    border-radius: 8px;
    height: fit-content;

  }
}
  .date-received {
    grid-area: date-received;
    font-weight: bold;
    text-align: center;
  }




  button {
    @include containers(0.6rem, 50%);
    width: fit-content;
    background-color: #fecdcb;
    color: #333;
    outline: none;
    &:hover {
      color: #30262E;
    }

  }
}
