@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import '../../../mixin.scss';

:host {
  width: 100%;
  color: #383134;
}

header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0rem 2rem;
  background-color: #ffdd1c; // #ffa700

  h1 {
    font: normal 400 55px/88px 'Shadows Into Light', cursive;
    letter-spacing: 0em;
  }

  form {
    @include containers(0.1rem 0.5rem, 0.5rem);
    color: #CACACA;
    background-color: whitesmoke;
    margin: auto;
    font-size: 1rem;
    color: gray;

      input {
        width: 12rem;
        height: 1.9rem;
        color: #CACACA;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0 0.4rem;
        color: #222;
        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }
      }
  }

  div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    h3 {
      font: normal normal 18px/20px Spartan;
      letter-spacing: 0.3em;
    }

    img {
      width: 50px;
      height: 50px;
      margin-left: 10px;
    }

    fa-icon {
      margin-left: 0.6rem;
    }
  }
}
