@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import '../../../mixin.scss';

header {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 20px 60px 10px 60px;

  h1 {
    font: normal 400 55px/88px 'Shadows Into Light', cursive;
    color: #22FF90;
    letter-spacing: 0em;
  }

  form {
    text-align: center;

    input {
      @include containers(0.5rem, 0.5rem);
      @include inputs(250px);
      color: #CACACA;
      background-color: transparent;
    }
  }

  div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    h3 {
      font: normal normal 18px/20px Spartan;
      letter-spacing: 0.3em;
    }

    img {
      width: 50px;
      height: 50px;
      margin-left: 10px;
    }
  }
}

