<header>
  <h1>Sha&Mar</h1>
<form *ngIf="router.url === '/waiter'">
  <fa-icon [icon]="searchIcon"></fa-icon>
  <input type="search" placeholder="Search" #search [(ngModel)]="searchInput" autocomplete="off" (keyup)="onKey($event)" [ngModelOptions]="{standalone: true}">
  <fa-icon [icon]="cancelIcon" *ngIf="search.value !== ''" (click)="clearInput()"></fa-icon>
</form>
<div>
    <h2>Waiter</h2>
    <img src="../../../assets/waiter-avatar.png" alt="waiter-photo">
    <fa-icon [icon]="notificationIcon" (click)="alertOrderDone($event)"></fa-icon>
</div>
</header>
